/*--start STATIC ASSETS--*/
	
	html {
		font-family: 'Open Sans', sans-serif;
		background-color: white;
	}
	
	body {
		margin: 0;
	}
	
	div {
	}
	
	a {
		text-decoration: none;
	}
	
	hr {
		border: 0;
		margin-bottom: -10vh;
		height: 1px;
		width: 80%;
		background-image: linear-gradient(to right, rgba(219, 197, 84, 0), rgba(219, 197, 84, 0.9), rgba(219, 197, 84, 0));
	}
	
	/*--start BANNER--*/
	
		.banner {
			background-attachment: fixed;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 100vw auto;
			
			text-align: center;
			
			height: 40vh;
		}
		
		.banner_title {
			display: block;
			position: -webkit-sticky;
			position: sticky;
			top: 42.5%;
		}
		
		.banner_title1 {
			text-shadow: 2px 2px 2px #545759;
			
			letter-spacing: 0.25vw;
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 5em;
			font-style: italic;
			color: white;
		}
		
		.banner_title1 span {
			color: white;
			text-shadow: 2px 2px 3px #545759;
			
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		
		.banner_title1 span:hover {
			color: white;
			text-shadow: 5px 5px 2px #4497CB;
			
			-webkit-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
		}
		
		.banner_title2 {
			padding-bottom: 3vh;
			
			text-shadow: 2px 2px 3px #545759;
			
			letter-spacing: 0.5vw;
			font-size:2em;
			font-weight: bold;
			color: white;
		}
		
		.page-bg {
			/*background-image: url('./images/banners/home.gif');*/
			background-image: url('./home.jpg');
			background-position: center top;
			background-size: cover;
			z-index: -1;
			top: 0;
			position: fixed;
			width: 100%;
			height: 100vh;
			
			-webkit-filter: blur(2.5px);
			filter: blur(2.5px);
		}
		
		#banner_home {
			height: 100vh;
		}
		
		#banner_officer {
			background-image: url('./images/banners/officers_blur.jpg');
		}
		
		#banner_events {
			background-image: url('./images/banners/events_blur.jpg');
		}
		
		#banner_sponsors {
			background-image: url('./images/banners/ucr_blur.jpg');
		}
		
		#banner_contact {
			background-image: url('./images/banners/contact_blur.jpg');
		}
		
		@media only screen and (max-width: 1024px) {
			hr {
				border: 0;
				margin-bottom: 0vh;
				height: 1px;
				width: 75%;
				background-image: linear-gradient(to right, rgba(219, 197, 84, 0), rgba(219, 197, 84, 0.75), rgba(219, 197, 84, 0));
			}
			
			.banner {
				padding-bottom: 0vh;
				
				background-position: center top;
				background-size: auto 100vw;
			}
			
			.banner_title {
				top: 40%;
			}
			
			.banner_title1 {
				background-position: center top;
				
				letter-spacing: 0.25vw;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 7.75vw;
				font-style: italic;
				color: white;
			}
			
			.banner_title2 {
				letter-spacing: 0.5vw;
				font-size: 4.5vw;
				color: white;
			}
			
			
			#banner_home {
				height: 100vh;
			}
			
			#banner_officer {
				height: 25vh;
			}
			
			#banner_events {
				height: 25vh;
			}
			
			#banner_sponsors {
				height: 25vh;
			}
			
			#banner_contact {
				height: 25vh;
			}
			
		}
		
		@media only screen and (orientation: landscape) {
			.banner {
				background-size: center center;
			}
			
			#banner_officer {
				height: 40vh;
			}
			
			#banner_events {
				height: 40vh;
			}
			
			#banner_sponsors {
				height: 40vh;
			}
			
			#banner_contact {
				height: 40vh;
			}
			
		}
	
	/*--end BANNER--*/

	/*--start NAV--*/
	
		.nav_bar {
			display: block;
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			
			background-color: #DBC554;
			
			padding-top: 1vh;
			padding-bottom: 1vh;
			
			text-align: center;
			letter-spacing: 0.065vw;
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 1.25em;
			color: white;
			
			z-index: 1;
		}
		
		.nav_sec {
			display: inline-block;
			padding: 0px 2vw;
			
			color: white;
			
			-webkit-transition: color 0.3s ease;
			transition: color 0.3s ease;
		}
		
		.nav_sec:hover {
			color: #63B0BB;
			
			-webkit-transition: color 0.3s ease-out;
			transition: color 0.3s ease-out;
		}
		
		#dropdown:hover {
			color: white;
		}
		
		.dropdown {
			position: relative;
			display: inline-block;
			-webkit-appearance: none;
		}
		
		.dropdown-content {
			display: none;
			position: absolute;
			
			background-color: #DBC554;
			opacity:0.98;
			
			width: 100%;
			box-shadow: 5px 10px 8px rgba(0,0,0,0.2);
			border-radius: 0px 0px 2vw 2vw;
		}

		.dropdown-content a {
			padding: 2vh 1vw;
			
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {
			color: #63B0BB;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
		
		.dropdown-content .nav_sec {
			padding: 0;
			margin: 0;
			
			width: 100%;
		}
		
		@media only screen and (max-width: 1024px) {
			.nav_bar {
				overflow-y: visible;
				
				font-size: 1.2em;
			}
			
			.nav_sec {
				padding: 5px 2vw;
			}
			
			.dropdown-content .nav_sec {
				padding: 0;
			}
		}
	
	/*--end NAV--*/
	
	/*--start FOOTER--*/
	
		.footer {
			display: block;
			
			background-color: #4497CB;
			padding-top: 1vh;
			padding-bottom: 1vh;
			
			text-align: center;
			
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 1.25em;
			color: white;
		}
		
		.footer span {
			color: #DBC554;
		}
		
		.top {
			display: block;
			padding-bottom: 7.5px;
			
			letter-spacing: 2.5px;
		}
		
		.bottom {
			display: block;
		}
		
		@-webkit-keyframes o-pulse-ity {
			0%   {opacity: 1;}
			50%  {opacity: 0.5;}
			100% {opacity: 1;}
		}
		
		@keyframes o-pulse-ity {
			0%   {opacity: 1;}
			50%  {opacity: 0.5;}
			100% {opacity: 1;}
		}
		
		.footer img {
			vertical-align: center;
			
			padding: 0vh 7.5px;
			
			min-height: 30px;
			max-height: 30px;
		}
		
		.footer a:hover {
			animation-name: o-pulse-ity;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
	
	/*--end FOOTER--*/
	
	/*--start CONTENT--*/

		.page_title {
			background-color: white;
			
			padding: 5vh 0vw;
			z-index: -1;
			
			letter-spacing: 0.35vw;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			font-size: 3.25vw;
			font-weight: bold;
			font-style: oblique;
			color: #4497CB;
		}
		
		.content {
			background-color: white;
			padding-bottom: 10vh;
			
			margin: 0vh 20vw;
			font-size: 1em;
		}
		
		.content p a {
			display: inline-block;
			
			font-weight: bold;
			color: #DBC554;
		}
		
		.content p a:after {
			display: block;
			
			border-bottom: solid 1px #DBC554;
			content: '';
			
			-webkit-transform: scaleX(0);
			-webkit-transition: transform 250ms ease-in-out;
			transform: scaleX(0);
			transition: transform 250ms ease-in-out;
		}
		
		.content p a:after {
			-webkit-transform-origin: 100% 50%;
		}
		
		.content p a:hover:after {
			-webkit-transform: scaleX(1);
			-webkit-transform-origin: 0% 50%;
			transform: scaleX(1);
			transform-origin: 0% 50%;
		}
		
		.content p a:hover{
			color: #DBC554;
		}
		
		@media only screen and (max-width: 1024px) {
			.page_title {
				padding: 3vh 0vw;
				
				overflow: visible;
				position: sticky;
				
				font-size: 6vw;
			}
			
			.content {
				margin: 0vh 1vw;
				padding-bottom: 3vh;
			}
		}
		
	/*--end CONTENT--*/
	
/*--end STATIC ASSETS--*/

/*--start HOME--*/

	#home_desc {
		margin: 0vh 0vw;
	}

	#home_desc p {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.35em;
		color: #545759;
		margin: 0vh 25vw;
	}
	
	#home_desc img {
		width: 45vw;
		padding-top: 1vh;
	}
	
	#event_desc{
		outline: 0;
		border: 0;
	}
	
	.tooltip {
		position: relative;
		display: inline-block;
	}
	
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 30vw;
		
		background-color: #4497CB;
		color: #fff;
		text-align: center;
		font-size: 0.9em;
		border-radius: 6px;
		padding: 8px 8px;
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 50%;
		margin-left: -15vw;
    
		opacity: 0;
		transition: opacity 1s;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
	
	@media only screen and (max-width: 1024px) {
		#home_desc p {
			font-size: 1.155em;
			margin: 0vh 5vw;
		}
		
		#home_desc img {
			width: 90vw;
			padding-top: 1vh;
		}
		
		.tooltip .tooltiptext {
			width: 60vw;
			margin-left: -30vw;
		}
	}
	
/*--end HOME--*/

/*--start EVENTS--*/
	#event_table {
		text-align:center;
	}
	
	#event_table p {
		margin-top: -5px;
		font-size:1.35em;
		color:#545759;
	}

	#event_table table{
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		
		margin-top: -30px;
		
		
		color: #545759;
	}
	
	#event_table table td { 
		vertical-align: middle;
		padding-bottom: 5vh;
		
		min-width:30vw;
		max-width:30vw;
	}
	
	#event_table table td p { 
		font-size:1.12em;
		text-align:left;
	}

	#event_table table td img {
		object-fit: cover;
		
		border-radius:0px;
		width:28vw;
		
		opacity: 0.825;
		
		-webkit-transition: all 1s;
		transition: all 1s; 
	}
	
	#event_table table td img:hover {
		opacity: 1;
		
		-webkit-transition: all 0.35s;
		transition: all 0.35s; 
	}
	
	#event_table a {
		display: inline-block;
		
		font-size: 0.95em;
		font-weight: bold;
		color: #DBC554;
	}
	
	#event_table a:after {
		display: block;
		
		border-bottom: solid 1px #DBC554;
		content: '';
		
		-webkit-transform: scaleX(0);
		-webkit-transition: transform 250ms ease-in-out;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;
	}
	
	#event_table a:after {
		-webkit-transform-origin: 100% 50%;
	}
	
	#event_table a:hover:after {
		-webkit-transform: scaleX(1);
		-webkit-transform-origin: 0% 50%;
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}
	
	#event_table a:hover{
		color: #DBC554;
	}
	
	@media only screen and (max-width: 1024px) {
		#event_table {
			display: row;
		}
		
		#event_table p {
			font-size: 1.155em;
		}
		
		#event_table table {
			margin-left: auto;
			margin-right: auto;
		}
		
		#event_table table td {
			text-align: center;
			display: inline;
		}
		
		#event_table table td img {
			object-fit: cover;
			padding-top: 10px;
		
			width: 80vw;
			height: auto;
		}
	}

/*--end EVENTS--*/
	
/*--start OFFICERS--*/

	#officer_table {
		text-align: center;
	}

	#officer_table table{
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		
		
		color: #545759;
	}
	
	#officer_table table, td { 
		vertical-align: top;
		
		min-width: 15vw;
		max-width: 15vw;
		
		text-align: center;
	}

	#officer_table table td img {
		object-fit: cover;
		
		padding: 1vw;
		
		max-width: 85%;
		min-width: 85%;
		min-height: 13vw;
		max-height: 13vw;
		
		border-radius: 50%;
		opacity: 0.825;
		
		-webkit-transition: all 1s;
		transition: all 1s; 
	}
	
	#officer_table table td img:hover {
		opacity: 1;
		
		-webkit-transition: all 0.35s;
		transition: all 0.35s; 
	}

	#officer_table table td .title {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 1.35em;
	}

	#officer_table table td .name {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.125em;
	}
	
	#officer_table .email {
		padding-bottom: 1vh;
	}
	
	#officer_table a {
		display: inline-block;
		
		font-size: 0.9em;
		font-weight: bold;
		color: #DBC554;
	}
	
	#officer_table a:after {
		display: block;
		
		border-bottom: solid 1px #DBC554;
		content: '';
		
		-webkit-transform: scaleX(0);
		-webkit-transition: transform 250ms ease-in-out;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;
	}
	
	#officer_table a:after {
		-webkit-transform-origin: 100% 50%;
	}
	
	#officer_table a:hover:after {
		-webkit-transform: scaleX(1);
		-webkit-transform-origin: 0% 50%;
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}
	
	#officer_table a:hover{
		color: #DBC554;
	}
		
	@media only screen and (max-width: 1024px) {

		#officer_table {
			margin: 0;
		}
			
		#officer_table table {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
			
		#officer_table table, td {
			padding-bottom: 1.5vh;
			padding: 2.1vw;
			min-width: 20vw;
			max-width: 20vw;
		}

		#officer_table table td img {
			object-fit: cover;
			
			max-width: 20vw;
			min-width: 20vw;
			min-height: 20vw;
			max-height: 20vw;
		}
	}
	
	@media only screen and (max-width: 480px) {
		#officer_table {
			overflow-x: hidden;
		}
		
		#officer_table table {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		
		#officer_table table, td {
			text-align: center;
			display: inline;
		}
		
		#officer_table table td img {
			object-fit: cover;
			
			max-width: 65vw;
			min-width: 40vw;
			min-height: 40vw;
			max-height: 65vw;
		}
		
		#officer_table .title {
			font-size: 1.75em;
		}
		
		#officer_table .name {
			font-size: 1.35em;
		}
		
		#officer_table .email {
			font-size: 1.15em;
		}
	}
	
/*--end OFFICERS--*/
	
/*--start CALENDAR--*/

	@media only screen and (max-width: 1024px) {
		#involvement_calendar {
			margin: 0vh 5vw;
		}
	}
		
/*--end CALENDAR--*/

/*--start SPONSORS--*/
	
	#sponsor_page {
		text-align: center;
	}
	
	.sponsor_logo {
		padding-bottom: 2vh;
	}
	
	#gold {
		width: 75%;
	}
	
	#silver {
		display: inline-block;
		vertical-align: middle;
		padding-left: 2vw;
		padding-right: 2vw;
		width: 40%;
	}
	
	#bronze {
		display: inline-block;
		width: 25%;
	}
	
	@media only screen and (max-width: 1024px) {
		#sponsor_page p {
			font-size: 1.155em;
			margin: 0vh 5vw;
		}
	}
	
/*--end SPONSORS--*/